.row {
  display: flex;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-grow: 1;
}

.rows {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.sizeable>.rows,
.sizeable>.columns {
  height: 100%;
}

.vertical.splitter {
  width: 0.8rem;
}

.horizontal.splitter {
  height: 0.8rem;
}
