.row {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.column {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.rows {
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.columns {
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.vertical.splitter {
  width: 0.5rem;
}

.horizontal.splitter {
  height: 0.5rem;
}
