html,
body {
  height: 100%;
}

.red { background-color: red; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
.splitter { background-color: black;}

#leftColumn {
  width: 10rem;
  min-width: 5rem;
  max-width: 15rem;
}
#rightColumn {
  width: 20rem;
  max-width: 40rem;
}
#bottomRow {
  height: 10rem;
  min-height: 5rem;
}

#bottomLeft {
  height: 10rem;
}
#topRight {
  height: 10rem;
}
