html,
body {
  height: 100%;
}

.red { background-color: red; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
.splitter { background-color: black;}

#leftColumn { width: 300px; }
#rightColumn { width: 300px; }
#bottomRow { height: 200px; }
#bottomLeft { height: 200px; }
#topRight { height: 200px; }
